<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>0</string>
		<key>Description</key>
		<string>募集中</string>
		<key>Title</key>
		<string>募集期</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Description</key>
		<string>募集中</string>
		<key>Title</key>
		<string>募集期</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>2</string>
		<key>Description</key>
		<string>满员-男 募集中-女</string>
		<key>Title</key>
		<string>募集期</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>3</string>
		<key>Description</key>
		<string>满员</string>
		<key>Title</key>
		<string>募集期</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>4</string>
		<key>Description</key>
		<string>募集截止</string>
		<key>Title</key>
		<string>募集结束</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>5</string>
		<key>Description</key>
		<string>募集截止</string>
		<key>Title</key>
		<string>募集结束</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>6</string>
		<key>Description</key>
		<string>进行中</string>
		<key>Title</key>
		<string>活动进行中</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>7</string>
		<key>Description</key>
		<string>圆满结束</string>
		<key>Title</key>
		<string>活动待回顾</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>8</string>
		<key>Description</key>
		<string>圆满结束</string>
		<key>Title</key>
		<string>活动已回顾</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>9</string>
		<key>Description</key>
		<string>已取消</string>
		<key>Title</key>
		<string>活动取消</string>
	</dict>
</array>
</plist>
