<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>ActivityCategory</key>
		<string>聚会社交</string>
		<key>ActivityDetail</key>
		<array>
			<dict>
				<key>Name</key>
				<string>聚餐</string>
				<key>ItemID</key>
				<string>101</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>夜店派对</string>
				<key>ItemID</key>
				<string>102</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>小酌</string>
				<key>ItemID</key>
				<string>103</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>沙龙</string>
				<key>ItemID</key>
				<string>104</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>家庭派对</string>
				<key>ItemID</key>
				<string>105</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>唱K</string>
				<key>ItemID</key>
				<string>106</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>2</string>
		<key>ActivityCategory</key>
		<string>体育运动</string>
		<key>ActivityDetail</key>
		<array>
			<dict>
				<key>Name</key>
				<string>篮球</string>
				<key>ItemID</key>
				<string>201</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>足球</string>
				<key>ItemID</key>
				<string>202</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>羽毛球</string>
				<key>ItemID</key>
				<string>203</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>游泳</string>
				<key>ItemID</key>
				<string>204</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>高尔夫</string>
				<key>ItemID</key>
				<string>205</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>攀岩</string>
				<key>ItemID</key>
				<string>206</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>网球</string>
				<key>ItemID</key>
				<string>207</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>3</string>
		<key>ActivityCategory</key>
		<string>休闲娱乐</string>
		<key>ActivityDetail</key>
		<array>
			<dict>
				<key>Name</key>
				<string>卡丁车</string>
				<key>ItemID</key>
				<string>301</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>真人CS</string>
				<key>ItemID</key>
				<string>302</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>棋牌</string>
				<key>ItemID</key>
				<string>303</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>桌游</string>
				<key>ItemID</key>
				<string>304</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>旅行户外</string>
				<key>ItemID</key>
				<string>305</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>野餐烧烤</string>
				<key>ItemID</key>
				<string>306</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>自驾游</string>
				<key>ItemID</key>
				<string>307</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>4</string>
		<key>ActivityCategory</key>
		<string>文化艺术</string>
		<key>ActivityDetail</key>
		<array>
			<dict>
				<key>Name</key>
				<string>艺术展</string>
				<key>ItemID</key>
				<string>401</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>音乐会</string>
				<key>ItemID</key>
				<string>402</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>歌剧</string>
				<key>ItemID</key>
				<string>403</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>话剧</string>
				<key>ItemID</key>
				<string>404</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>演唱会</string>
				<key>ItemID</key>
				<string>405</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>电影</string>
				<key>ItemID</key>
				<string>406</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>5</string>
		<key>ActivityCategory</key>
		<string>专业社交</string>
		<key>ActivityDetail</key>
		<array>
			<dict>
				<key>Name</key>
				<string>小型主题研讨会</string>
				<key>ItemID</key>
				<string>501</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>行业人脉分享酒会</string>
				<key>ItemID</key>
				<string>502</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>行业间联谊</string>
				<key>ItemID</key>
				<string>503</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
